<ul class="book-theme"   x-data="theme">
  <div>主题</div>
  <li >

    <input type="checkbox" id="theme" class="toggle">
    <label for="theme" class="flex justify-between">
      <a  role="button" class="flex align-center">
        <img src="{{ '/assets/svg/theme.svg' | absoluteUrl | cacheBust }}" class="book-icon" alt="change theme">
        <span x-text="themeName"></span>
      </a>
    </label>

    <ul>
      
      <li>
        <a @click="changeTheme('dark','极夜黑');setName();">
          极夜黑
        </a>
      </li>
      
      <li>
        <a @click="changeTheme('light','月牙白');setName();">
          月牙白
        </a>
      </li>

      <li>
        <a  @click="changeTheme('auto','自适应');setName();">
          自适应
        </a>
      </li>
      
    </ul>
  </li>
</ul>