{% if post.tags %}
    <span class="before:u-content-['·'] before:u-mx-[4px]"></span>
    {% for tag in post.tags %}
        {% if tag.visibility == 'public' %}
            <a href="{{ tag.slug | articleCategoryUrl }}">{{ tag.name }}</a>,
        {% endif %}
    {% endfor %}
{% endif %}