<nav id="TableOfContents">
  <nav>
    <ul>
      <li class="book-section-flat">
        {% assign toc = html | tocGen %}
        {% if toc %}
          <strong>TOC
            </strong>
          {{toc}}
        {% endif %}
      </li>
    </ul>
  </nav>
</nav>