<nav id="TableOfContents">
  <nav>
    <ul>
      <li class="book-section-flat">
        {% assign toc = html | tocGen %}
        {% if toc %}
          <strong>TOC
            </strong>
          {{toc}}
        {% endif %}
        <strong><a href="#join-comments">加入评论</a></strong>

    </ul>
  </nav>
</nav>