---
permalink: /relitu/
---

{% layout "layouts/base" %}


{% block head %}{% include 'partials/head',title:post.title %}{% endblock %}

{% block header %}{% include 'partials/header',title:post.title %}{% endblock %}


{% block content %}
{% comment %} <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" /> {% endcomment %}

<div id="heatmap" style="max-width: 700px;height: 110px;margin-bottom: 40px;"></div>
<script src="https://img.koobai.com/echarts.min.js"></script>

<script type="text/javascript">
  var chartDom = document.getElementById('heatmap');
  var myChart = echarts.init(chartDom);
  window.onresize = function() {
      myChart.resize();
  };
  var option;
  var dataMap = new Map();

  // var startDate = new Date(new Date().setMonth(new Date().getMonth() - 1));;

  // function GAconverter(data) {



  //   console.log(data)
  //   var results = {};
  //   data.forEach(element => {
  //     var timestamp = new Date(element.date).getTime() / 1000;

  //     var result = Math.floor(timestamp);

  //     results[result] = element.title;
  //   });
  //   console.log(results)
  //   return results;
  // }


  // var cal = new CalHeatMap();
  // cal.init({
  //   itemSelector: '#cal-heatmap',
  //   domain: 'month',
  //   subDomain: 'x_day',
  //   data: 'http://localhost:8080/assets/search-data.json',
  //   dataType: 'json',
  //   start: startDate,
  //   range: 1,
  //   itemName: '标题',
  //   afterLoadData: GAconverter,
  //   tooltip: true,
  //   legendColors: {
  //     empty: '#ededed',
  //     min: '#40ffd8',
  //     max: '#f20013',
  //   },
  //   subDomainTextFormat: function (date, value) {
  //     console.log(date,value)
  //                 return value;
  //   },
  // });

</script>


{% endblock %}


{% block footer %}
{% include 'partials/footer',post:post %}
{% endblock %}

{% block comments %}
{% include 'partials/comment' %}
{% endblock %}


{% assign has_tag = post.tags | where:'name','#post-toc' | first %}


{% block toc %}


{% include 'partials/toc',html:post.html %}


{% endblock %}


{% block h-toc %}
<aside class="hidden clearfix">
  {% include 'partials/toc',html:post.html %}
</aside>
{% endblock %}