---
permalink: /relitu/
---

{% layout "layouts/base" %}


{% block head %}{% include 'partials/head',title:post.title %}{% endblock %}

{% block header %}{% include 'partials/header',title:post.title %}{% endblock %}


{% block content %}


{% endblock %}


{% block footer %}
{% include 'partials/footer',post:post %}
{% endblock %}

{% block comments %}
{% include 'partials/comment' %}
{% endblock %}


{% assign has_tag = post.tags | where:'name','#post-toc' | first %}


{% block toc %}
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
<div id="cal-heatmap"></div>
<script type="text/javascript">
  var cal = new CalHeatMap();
  cal.init({});
</script>


{% include 'partials/toc',html:post.html %}


{% endblock %}


{% block h-toc %}
<aside class="hidden clearfix">
    {% include 'partials/toc',html:post.html %}
</aside>
{% endblock %}